process {
    withName: 'HOMER_FINDMOTIFS' {
        ext.args = { params.narrow_peak ? '-size 200 -mask' : '-size given -mask' }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/merged_library/macs3/${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}/homer_motifs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}